09112016000160
Posto Sá
sistema.clubpetro.com.br
10
192.168.1.4
2001
0
DEFAULT
0

192.168.1.200
77481d79-7dac-4af6-b0b6-b966bfdf834a
1
-1
0
0
0
0
0
0
0
0
0
-1
0
20
0
0
041076
-1
ímpbobina_modelo=EscPosEpson
ímpbobina_porta=RAW:EPSON TM-T20 Receipt
ímpbobina_velocidade=9600
ímpbobina_codepage=pc850
ímpbobina_largurabobina=80
ímpbobina_linhasfinalimpressao=7
ímpbobina_cortarpapel=1
ímpbobina_removeracentos=0
0
C:\Vip\RetornoDescontos\
-1
03:00
